extends ./layout/index
block contenido
    main.container.mt-5 
        .row
            .col-md-5
                img(src="img/nosotros.jpg", class="img-fluid" alt="")
            .col-md-7
                h1=pagina
                blockquote ipsum dolor sit amet, consectetur adipiscing elit. Etiam imperdiet interdum massa, lacinia egestas leo laoreet sed. Curabitur non mauris turpis. Morbi quis lorem nisi. Donec nec aliquet nisl. Sed eros ante, dapibus a laoreet sed, tempus vel nisl. Praesent eleifend porttitor rutrum. Praesent pulvinar dapibus odio in egestas.

                p euismod nec neque eget dictum. Praesent eros tortor, rhoncus id nisi quis, rhoncus varius sem. Donec mattis arcu tellus. Nunc sed fringilla nisl, nec dapibus orci. Praesent quis tempor arcu. Fusce condimentum ut magna id interdum. Donec venenatis, ligula pellentesque hendrerit aliquam, massa diam tempor libero, quis ultricies nunc sapien vel magna. Donec est quam, interdum vel hendrerit eget.

                p sed purus ac sapien consectetur fringilla non id urna. Sed et condimentum mauris. Donec suscipit mauris nec sapien lacinia, et pulvinar mauris pulvinar. Nullam tincidunt sodales elementum. Nam molestie odio non leo rhoncus pulvinar. Pellentesque dictum nunc et velit dapibus condimentum. Aenean efficitur efficitur purus, et eleifend leo pharetra at.
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="", clas="mb-4 img-fluid")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, autem enim esse quos dolor nam neque atque totam voluptas, distinctio a soluta? Quas, ut laboriosam neque vero voluptate commodi iste?
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="", clas="mb-4 img-fluid")
                    h2.mb-4 Mejores Destinos
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, autem enim esse quos dolor nam neque atque totam voluptas, distinctio a soluta? Quas, ut laboriosam neque vero voluptate commodi iste?
                .col-md-4
                    img(src="img/icono_precios.svg", alt="", clas="mb-4 img-fluid")
                    h2.mb-4 Mejores Precios
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, autem enim esse quos dolor nam neque atque totam voluptas, distinctio a soluta? Quas, ut laboriosam neque vero voluptate commodi iste?